//Global reset for Project
@import 'vari';

html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
	color: $black;
	font-size: 16px;
	padding: 0;
	margin: 0;
	//border: 20px solid $white;
	background-color: #f7f8f9;
	min-height: 100vh;
	font-family: 'Nexa', 'Helvetica', sans-serif;
}

.identity {
	width: 110px;
	height: 110px;
	display: inline-block;
	background: url(../img/identity.svg) no-repeat center center;
	background-size: contain;
	margin: 0 auto;
	@include transition(all, .2s, ease-in);

	&:hover {
		transform: scale(1.05);
	}
}

#masthead {
	margin: 1em auto;
	padding: 1em;
	width: 100%;
	height: auto;
	display: block;
}

.hero {
	width: 100%;
	height: 50vh;
	background-color: $white;
	// -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
	// clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
	padding: 20px;
	position: relative;

	.identity {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 200px;
		height: 200px;
	}
}

a {
	@include transition(all, .2s, ease-in);
}

.contain {
	max-width: 1200px;
	min-width: 300px;
	display: block;
	position: relative;
	margin: 0 auto;
}

.toolbar {
	width: 100%;
	display: block;
	position:relative;
	background-color: $white;
	color: $black;
	height: 40px;
	border-bottom: 1px solid $gray;

	ul {
		@extend .flex-param;
		padding: 0;
		margin: 0;
		width: 100%;
		list-style: none;

		li {
			@include flex(1);
			height: 40px;
			padding: 5px;
			@include transition(all, .4s, ease-in);
		}
	}
}


