//Global reset for Project
@import 'vari';

html {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1;
  @include transition(all, .2s, ease-in);
}

body {
	color: $black;
	font-size: 16px;
	padding: 1em;
	margin: 0;
	border: 20px solid $white;
	background-color: #f7f8f9;
	min-height: 100vh;
	font-family: 'Nexa', 'Helvetica', sans-serif;
}

#masthead {
	margin: 1em auto;
	width: 100%;
	height: auto;
	display: block;
}

a {
	@include transition(all, .2s, ease-in);
}

.toolbar {
	width: 100%;
	display: block;
	position:relative;
	background-color: $white;
	color: $black;
	height: 40px;
	border-bottom: 1px solid $gray;

	ul {
		@extend .flex-param;
		padding: 0;
		margin: 0;
		width: 100%;
		list-style: none;

		li {
			@include flex(1);
			height: 40px;
			padding: 5px;
			@include transition(all, .4s, ease-in);
		}
	}
}

.logo {
	width: 600px;
	height: 80px;
	display: inline-block;
	background: url(../img/waldron-logo.svg) no-repeat center center;
	background-size: contain;
	margin: 0 auto;
}

.title {
	font-family: 'Nexa', 'Helvetica', sans-serif;
	font-size: 3em !important;
	font-weight: bold;
	line-height: normal;
}

.subtitle {
	font-family: Georgia, serif;
	color: #808895;
	font-size: 1.5em;
	text-transform: lowercase;
}

nav {
	display: inline-block;

	a {
		display: inline-block;
		font-family: Georgia;
		text-decoration: none;
		color: #808895;
		padding: 10px;
		font-size: 1.3em;

		&:hover {
			background-color: #fdfdfd;
			color: $red;
		}
	}
}

.contain {
	max-width: 1330px;
	min-width: 300px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.row {
	@include flex-box()
	flex-flow: row wrap;
	padding: 0;
	margin: 0 0 1em 0;

	&~ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.col {
		@include flex(1);

		&-full {
			@include flex(1 0 100%);
			padding: 12px;
			margin: 0 0 1em 0;
		}

		&-half {
			@include flex(1 0 50%);
			padding: 12px;
			margin: 0 12px 1em 0;

			&:last-child {
				margin-right: 0;
			}
		}
		&-third {
			@include flex(1 0 33.33%);
			padding: 12px;
			margin: 0 12px 1em 0;

			&:last-child {
				margin-right: 0;
			}
		}
		&-fourth {
			@include flex(1 0 25%);
			padding: 12px;
			margin: 0 12px 1em 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (min-width: 660px) and (max-width: 925px) {
	.logo {
		width: 400px;
		height: 50px;
		vertical-align: baseline;
	}
}
@media screen and (min-width: 240px) and (max-width: 650px) {
	.logo {
		display: block;
		width: 90%;
		margin: 0 auto;
	}

	nav {
		width: 90%;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}