//Variables for project
$blue :#6184d8;
$teal: #50c5b7;
$green: #9cec5b;
$yellow: #f0f465;
$purple: #390642;
$red: #FF5154;
$white: #fff;
$black: #000;
$gray: #e9e9e9;

$primary: $purple;
$secondary: $blue;
$tertiary: $teal;
$highlight: $yellow;

$btn-color: $red;
$base: $white;

@font-face {font-family: 'Nexa';font-weight: normal;font-style: italic;src: url('/fonts/32B99F_0_0.eot');src: url('/fonts/32B99F_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/32B99F_0_0.woff2') format('woff2'),url('/fonts/32B99F_0_0.woff') format('woff'),url('/fonts/32B99F_0_0.ttf') format('truetype');}
@font-face {font-family: 'Nexa';font-weight: normal;font-style: normal;src: url('/fonts/32B99F_1_0.eot');src: url('/fonts/32B99F_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/32B99F_1_0.woff2') format('woff2'),url('/fonts/32B99F_1_0.woff') format('woff'),url('/fonts/32B99F_1_0.ttf') format('truetype');}
@font-face {font-family: 'NexaHeavyItalic';src: url('/fonts/32B99F_2_0.eot');src: url('/fonts/32B99F_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/32B99F_2_0.woff2') format('woff2'),url('/fonts/32B99F_2_0.woff') format('woff'),url('/fonts/32B99F_2_0.ttf') format('truetype');}
@font-face {font-family: 'Nexa';font-weight: bold;font-style: normal;src: url('/fonts/32B99F_3_0.eot');src: url('/fonts/32B99F_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/32B99F_3_0.woff2') format('woff2'),url('/fonts/32B99F_3_0.woff') format('woff'),url('/fonts/32B99F_3_0.ttf') format('truetype');}
  
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin flex($flex: 1) {
  flex: $flex;
  -webkit-box-flex:  $flex;
  -moz-box-flex:  $flex;   
  -webkit-flex:  $flex;
  -ms-flex:  $flex;
}

@mixin transition ($prop: all, $time: 1s, $ease: linear) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  -ms-transition: $prop $time $ease;
  transition: $prop $time $ease;
}
@mixin flex-box {
  display: -webkit-box;/* OLD */
  display: -moz-box;/* OLD */
  display: box;/* OLD */
  display: -o-flex;/* OLD (MIDDLE?)*/
  display: -ms-flexbox;/* MIDDLE */
  display: flexbox;/* MIDDLE */
  display: -webkit-flex;/* NEW */
  display: flex;/* NEW */
}

@mixin flex-direction($direction)
 {
 @if $direction == column
 {
 -webkit-flex-direction:vertical;
 -moz-flex-direction:vertical;
 -ms-flex-direction:column;
 -webkit-flex-direction:column;
 flex-direction:column;
 }
 @else
 {
 -webkit-flex-direction:horizontal;
 -moz-flex-direction:horizontal;
 -ms-flex-direction:row;
 -webkit-flex-direction:row;
 flex-direction:row;
 }
 }
.flex-param {
  padding: 0;
  margin: 0;
  display: -webkit-box;/* OLD */
  display: -moz-box;/* OLD */
  display: box;/* OLD */
  display: -o-flex;/* OLD (MIDDLE?)*/
  display: -ms-flexbox;/* MIDDLE */
  display: flexbox;/* MIDDLE */
  display: -webkit-flex;/* NEW */
  display: flex;/* NEW */
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: row; 
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap; 
}

h2 {
  font-family: 'Rift-BoldItalic';
}

.btn {
  border: 1px solid $gray;
  text-decoration: none;
  background-color: $white;
  color: $blue;
  @include border-radius(3px);
  @include transition(all, 100ms, ease-in);
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  font-family: 'Nexa';
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    background-color: #fdfdfd;
    box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.4);
  }

  &.light {
    background-color: $white;
    color: $black;
  }

  &.dark {
    background-color: $black;
    color: $white;
  }

  &:hover {

  }
}




